body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('uno.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin:0;
    transition: background-image 1s ease-in-out;
    color: #4933ef;
}

    
       .container {
     display: flex;
     flex-direction: column;
     align-items: center;
       }
    
       .preview {
     margin-top: 20px;
     border: 1px solid #ddd;
     padding: 10px;
     max-width: 300px;
       }
    
       .preview img {
     max-width: 100%;
     display: block;
       }
       .barrita {
        width: 80%;
        margin: auto;
        background-color:transparent;
        overflow: hidden;
        white-space:nowrap;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    
        }
      .barrita p{
        color: rgb(102, 80, 239);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
         animation: mover 8s linear infinite ;
         display: inline-block;
         padding-left: 100%;

       }
      @keyframes mover {
       from { transform: translateX(0%); }
      
        to { transform: translateX(-100%); }
    }
    .titulito {
      text-align: center;
      font-size:30px;

    }
    .botoncito {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align:center;
        padding: 30px 20px;
        font-size: 40px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: rgb(73, 56, 186);
        background: linear-gradient(to right, #968ae6, #4933ef);
        transition: background 0.3s ease;
        margin: auto;
        display: block;
        width: 100%;
      }
      
      .botoncito:active {
        background: linear-gradient(to right, #6b6de4, #083eef);
      }
      ul{
        list-style: none;
      }
      nav{
        text-align:center;
        margin-right: 20px;}
      nav li a {
        text-decoration: none;padding: 5px 10px;
        
      }
      .cajita {
        background-color:transparent;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(129, 96, 238, 0.5);
        padding: 20px;
        width: 45%;
        text-align: justify;
        margin: auto;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
        
      }
      .galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
       img {
        width: 500px;
        height: 350px;
        margin: 10px;
        border-radius: 10px;  transition: transform 0.5s ease; 
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.832);
      }
      
      .zoom{
        overflow: hidden; 
      
      }
      .foti {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        width: 30%; 
        margin-bottom: 20px;
    }
    
    
    .fotito {
        background-color: transparent;
        padding: 10px;
        box-shadow:0px 0px 15px 0px rgba(96, 61, 221, 0.832) #4933ef;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
    }
    
    
    
    
    @media screen and (max-width: 1300px) {
        .foti {
            width: 49%; 
        }
    }
    @media screen and (max-width: 768px) {
        .foti {
            width: 100%; 
        }
    }
    
    .referencias{
      text-align: center;
      width: 50px;

    }
    .titulo1
    {
      text-align: center;
      font-size:60px ;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #083eef;
    }
    .form-control{
      width: auto;

    }
    .contacto{
      column-count: 2;
      font-weight: bold;
  }
  .contacto input{
      width: 100%;
      padding: 10px;
    margin: 5px;
      border: 1px solid #ccc;
      border-radius: 20px;
      box-sizing: border-box;
      background-color: rgb(255, 255, 255);
      height: 30px;
      
      
   }
   input[type="submit"]{
    background-color: #7736e9;
    width: 35%;
    box-shadow: 0px 0px 10px 0px rgba(95, 48, 237, 0.5);
    color: rgb(38, 2, 105);
    font-weight: bold;


}
 input[type="reset"]{
    background-color: #e01b32;}
 input[type="submit"],
input[type="reset"] {
    width: 35%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: #2b039b;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(153, 124, 197, 0.5);
}

.formularioCita{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius:20px ;
  margin: auto;
  width: 500px;
  background-color:rgba(0, 0, 0, 0.245) ;
}
.botones{
 
  border-radius: 5px;

}