body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('uno.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin:0;
    transition: background-image 1s ease-in-out;
    color: #4933ef;
}
footer{
	padding:20px 10px;
}

footer div{
	background:rgb(114, 47, 214);
	text-align:center;
	line-height:50px;
	color:rgb(62, 6, 216);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(to right, #968ae6, #4933ef);
}
    
       .container {
     display: flex;
     flex-direction: column;
     align-items: center;
       }
       .container p {
        display:none;
       }
    
       .preview {
     margin-top: 20px;
     border: 1px solid #ddd;
     padding: 10px;
     max-width: 300px;
       }
    
       .preview img {
     max-width: 100%;
     display: block;
       }
       .barrita {
        width: 80%;
        margin: auto;
        background-color:transparent;
        overflow: hidden;
        white-space:nowrap;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    
        }
      .barrita p{
        color: rgb(102, 80, 239);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
         animation: mover 8s linear infinite ;
         display: inline-block;
         padding-left: 100%;

       }
      @keyframes mover {
       from { transform: translateX(0%); }
      
        to { transform: translateX(-100%); }
    }
    .titulito {
      text-align: center;
      font-size:30px;

    }
    .botoncito {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align:center;
        padding: 30px 20px;
        font-size: 40px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: rgb(73, 56, 186);
        background: linear-gradient(to right, #968ae6, #4933ef);
        transition: background 0.3s ease;
        margin: auto;
        display: block;
        width: 100%;
      }
      
      .botoncito:active {
        background: linear-gradient(to right, #6b6de4, #083eef);
      }
      ul{
        list-style: none;
      }
      nav{
        text-align:center;
        margin-right: 20px;}
      nav li a {
        text-decoration: none;padding: 5px 10px;
        
      }
      .cajita {
        background-color:transparent;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(129, 96, 238, 0.5);
        padding: 20px;
        width: 45%;
        text-align: justify;
        margin: auto;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
        
      }
      .galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
       img {
        width: 500px;
        height: 350px;
        margin: 10px;
        border-radius: 10px;  transition: transform 0.5s ease; 
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.832);
      }
      
      .zoom{
        overflow: hidden; 
      
      }
      .foti {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        width: 30%; 
        margin-bottom: 20px;
    }
    
    
    .fotito {
        background-color: transparent;
        padding: 10px;
        box-shadow:0px 0px 15px 0px rgba(96, 61, 221, 0.832) #4933ef;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
    }
    
    
    
    
    @media screen and (max-width: 1300px) {
        .foti {
            width: 49%; 
        }
    }
    @media screen and (max-width: 768px) {
        .foti {
            width: 100%; 
        }
    }
    
    .referencias{
      text-align: center;
      width: 50px;

    }
    .titulo1
    {
      text-align: center;
      font-size:60px ;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #083eef;
    }
    .form-control{
      width: auto;

    }
    .contacto{
      column-count: 2;
      font-weight: bold;
  }
  .contacto input{
      width: 100%;
      padding: 10px;
    margin: 5px;
      border: 1px solid #ccc;
      border-radius: 20px;
      box-sizing: border-box;
      background-color: rgb(255, 255, 255);
      height: 30px;
      
      
   }
   input[type="submit"]{
    background-color: #7736e9;
    width: 35%;
    box-shadow: 0px 0px 10px 0px rgba(95, 48, 237, 0.5);
    color: rgb(38, 2, 105);
    font-weight: bold;


}
 input[type="reset"]{
    background-color: #e01b32;}
 input[type="submit"],
input[type="reset"] {
    width: 35%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: #2b039b;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(153, 124, 197, 0.5);
}

.formularioCita{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius:20px ;
  margin: auto;
  width: 500px;
  background-color:rgba(0, 0, 0, 0.245) ;
}
.botones{
 
  border-radius: 5px;

}
.explica{ text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #4933ef;

}

.tonbo {
  width: 35%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: #2b039b;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(153, 124, 197, 0.5);
}
.kjita {
  background-color:transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(129, 96, 238, 0.5);
  padding: 20px;
  width: 45%;
  text-align: justify;
  margin: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  
}
h4 { text-align: center;}
p {
  display:none;
}
.enviar{
  width: 35%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: #c2bad8;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(153, 124, 197, 0.5);
    background-color: #7736e9;
}





/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/

@media(min-width:1200px){

	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666667%;}
	.col-lg-10{width:83.33333333%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666667%;}
	.col-lg-7{width:58.33333333%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666667%;}
	.col-lg-4{width: 33.33333333%;}
	.col-lg-3{width: 25%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-0 {display:none;}

	#seccion4 article p img{
		width:50%;
	}

}

/*=============================================
ESCRITORIO
=============================================*/

@media(max-width:1199px) and (min-width:992px){

	.col-md-12{width:100%;}
	.col-md-11{width:91.66666667%;}
	.col-md-10{width:83.33333333%;}
	.col-md-9{width:75%;}
	.col-md-8{width:66.66666667%;}
	.col-md-7{width:58.33333333%;}
	.col-md-6{width:50%;}
	.col-md-5{width:41.66666667%;}
	.col-md-4{width: 33.33333333%;}
	.col-md-3{width: 25%;}
	.col-md-2{width: 16.66666667%;}
	.col-md-1{width: 8.33333333%;}
	.col-md-0 {display:none;}

	#seccion4 article p img{
		width:60%;
	}
}

/*=============================================
 TABLET 
=============================================*/

@media(max-width:991px) and (min-width:768px){

	.col-sm-12{width:100%;}
	.col-sm-11{width:91.66666667%;}
	.col-sm-10{width:83.33333333%;}
	.col-sm-9{width:75%;}
	.col-sm-8{width:66.66666667%;}
	.col-sm-7{width:58.33333333%;}
	.col-sm-6{width:50%;}
	.col-sm-5{width:41.66666667%;}
	.col-sm-4{width: 33.33333333%;}
	.col-sm-3{width: 25%;}
	.col-sm-2{width: 16.66666667%;}
	.col-sm-1{width: 8.33333333%;}
	.col-sm-0 {display:none;}
	
	#seccion4 article p img{
		width:100%;
		margin-bottom: 20px;
	}
}

/*=============================================
TELEFONOS
=============================================*/

@media(max-width:767px){

	.col-xs-12{width:100%;}
	.col-xs-11{width:91.66666667%;}
	.col-xs-10{width:83.33333333%;}
	.col-xs-9{width:75%;}
	.col-xs-8{width:66.66666667%;}
	.col-xs-7{width:58.33333333%;}
	.col-xs-6{width:50%;}
	.col-xs-5{width:41.66666667%;}
	.col-xs-4{width: 33.33333333%;}
	.col-xs-3{width: 25%;}
	.col-xs-2{width: 16.66666667%;}
	.col-xs-1{width: 8.33333333%;}
	.col-xs-0 {display:none;}

	#seccion4 article p img{
		width:100%;
		margin-bottom: 20px;
	}

}